.antd-pro-cascader {
  * {
    box-sizing: border-box;
  }

  position: relative;
  z-index: 9;
  height: 26px;
  margin-right: 6px;
  display: inline-block;
  width: 335px;

  .antd-pro-hidden {
    display: none;
  }

  .tab-search-bar {
    .ant-input {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }

    .ant-input-group-addon {
      background: #fff;
      border: none;
      position: absolute;
      right: 0;
      height: 100%;
      width: 32px;
      background: transparent;
      z-index: 999;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-content-wrap {
    position: absolute;
    top: 31px;
    left: 0;
    border: 1px solid #e8e8e8;
    width: 100%;
    padding: 12px 12px 15px;
    background: #fff;
    z-index: 9;
    font-size: 12px;
    min-height: 200px;
  }

  .antd-pro-tab-content {

    .andt-pro-tab-panel {
      .antd-pro-panel-list {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 10px;
        overflow: hidden;
        width: 100%;
        margin-bottom: -5px;

        li {
          float: left;
          width: auto;
          padding: 0 16px 1px 0;
          clear: none;
          line-height: 18px;

          &.panel-list-item-current a {
            color: #1890ff;
          }

          a {
            color: #333;
          }
        }
      }
    }

  }
}